.movieCard {
  /* flex: 1 1 300px;  Flex properties for responsiveness. This is a shorthand for the flex-grow, flex-shrink, and flex-basis properties */
  flex-grow: 1; /* Allow the card to grow */
  flex-shrink: 1; /* Allow the card to shrink */
  flex-basis: 300px; /* Set the initial size of the card */
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.movieCard h3 {
  margin-top: 0;
  color: #333;
}

.movieCard p {
  margin: 8px 0;
  color: #666;
}


@media (max-width: 1000px) {
  .movieCard {
    flex: 1 1 100%;
    max-width: 100%;
  }
}