.movieCard {
  flex: 1 1 300px;
  max-width: 300px;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.movieCard h3 {
  margin-top: 0;
  color: #333;
}

.movieCard p {
  margin: 8px 0;
  color: #666;
}


@media (max-width: 1000px) {
  .movieCard {
    flex: 1 1 100%;
    max-width: 100%;
  }
}